<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <div id='map'></div>
 
</ion-content>

<content-drawer [options]="drawerOptions">
  <div class="content">
    รายละเอียดเส้นทาง
    <!-- <content-list *ngfor="let gatedata of gatedata">
      aaaa
      {{gatedata}}
      bbbb
    </content-list> -->
    <!-- <ion-list *ngfor="let gatedata of gatedata"> -->
    <ion-list >
      <ion-item>
        <ion-label>
          <p>
              ทางเข้า : {{gatedata}}
          </p>
              <!-- <ng-template *ngIf="endgatehtml"> -->
              <p>
                ทางออก : {{endgatehtml}}
              </p>
          <!-- </ng-template> -->
        </ion-label>
      </ion-item>
      </ion-list>
  </div>
</content-drawer>
<!-- <ion-footer>
  <button class="geolocation-btn" ion-button full (click)="tryGeolocation()"> Try Geolocation </button>
</ion-footer>  -->
