<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="/assets/imgs/4-2.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>


<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="ไปไหนดี ?">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <div id='map'></div>

</ion-content>

<content-drawer [options]="drawerOptions">
  <div class="content">
    รายละเอียดเส้นทาง
    <!-- <content-list *ngfor="let gatedata of gatedata">
      aaaa
      {{gatedata}}
      bbbb
    </content-list> -->
    <!-- <ion-list *ngfor="let gatedata of gatedata"> -->
    <ion-list>
      <ion-item>
        <ion-label>
          <p>
            START at : {{starthtml}} ->> line : {{startlinehtml}}
          </p>
          <!-- <ng-template *ngIf="endgatehtml"> -->
          <p *ngIf='nextstation'>
            Change at : {{nextstation}} ->> to : 
            {{nextstationline}} line
          </p>
          <p *ngIf='nextstation1'>
            Change at : {{nextstation1}} ->> to : 
            {{nextstation1line}} line 
          </p>
          <p *ngIf='nextstation2'>
            Change at : {{nextstation2}} ->> to : 
            {{nextstation2line}} line
          </p>
          <p *ngIf='endstationhtml'>
            EXIT at : {{endstationhtml}} ->> to : {{endstationlinehtml}} line
          </p>
          <!-- </ng-template> -->
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</content-drawer>
<!-- <ion-footer>
  <button class="geolocation-btn" ion-button full (click)="tryGeolocation()"> Try Geolocation </button>
</ion-footer>  -->