ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

page-map {
    #map {
      height: 100%;
    }
    content-drawer {
      background-color: #387ef5 !important;
  }

  content-drawer .content {
      padding: 20px;
  }

}
.geolocation-btn{
  margin: 0px;
  padding: 0px;
}
