page-intro {
    .swiper-pagination-bullet-active {
      background: #387ef5;
      
    }
    h1{
      font-size: 20px;
    }
    h2{
      font-size: 15px;
    }
    .txtcolor{
      color: #43569a;
    }
  } 